
.ItemCount{
  display:  flex;
  margin-top: 10%;
  text-align: center;
}

.ItemCount p{
  padding: 1% 2% 0% 2%;
}

.ItemCount .btn-outline-danger{
  margin-left: 2%;
}

#toCart{
  padding-right: 5%;
  padding-left: 5%;
}