

.descrp-header{

  float: right;
  margin-left: 52%;
  padding-top: 2%;
  padding-right: 4%;
  position: absolute;
}

.ItemDetail  .descrp{
  margin-top: 3%;
text-align: justify;
}


.ItemDetail .container{
  margin-top: 1%;
  width: 98%;

}

.ItemDetail  .picture-prod{
  padding: 2%;
  width: 50%;
  float: left;

}
.ItemDetail  .card-title{
  margin: 0%;
}


.ItemDetail .price{
  margin-top: 0%;
  padding-bottom: 2%;
  text-align: center; 
  font-weight: bold;
  
}


.ItemDetail .payment-box .btn {
  display: block;
  margin: 1%;
  margin-left: 10%;
  text-align: center;
  padding-left: 0%;

}

.ItemDetail .card{
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.ItemDetail .title{
 text-align: center; 
}


.ItemDetail .list-group-item{
  background-color: #ebebeb;
}


.ItemDetail .control .btn-back{
  display: flex;
  margin-top: -8.50%;
  margin-left: 55%;
  text-align: center;
  padding-left: 15%;
  padding-right: 0%;
  padding-top: 2%;
  padding-bottom: 1.50%;

}