.ItemList{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: auto;
grid-gap: 1rem;
width:100%;
float:none;
}

.title-card{
  padding-top: 2%;
  background-color: rgb(255, 241, 206);
}

.price{
margin: 0%;
text-align: center;
color: rgb(238, 3, 3);

}

.card{
  background-color: rgb(255, 241, 206);
  margin: 1%;
  padding: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

.title{
  text-align: center; 
}

.card .title a{
  text-decoration: none;
  color:black;
  padding-bottom: 5%;
}

.card input[text]{
  width: 1%;
}