.UserDetail{
  top: 0%;
  margin-bottom: 2%;
  padding: 2%;
}

.UserDetail .input{
  display: block;
  padding: 1%;
  }

.UserDetail .input {
padding-right: 2%;

}


.UserDetail input{
  display: block;
  margin-right: 0%;
  padding: 1%;
  width: 130%;
  }

  .UserDetail {
    display: block;
    margin-bottom: 2%;
    margin-right: 0%;
    padding: 1%;
  
}
