.Cart{
  margin: 2%;
  margin-top: 0%;
}

.Cart .title{
  padding-left: 0%;
  padding-bottom: 2%;
}

.Cart .header-title {
	background: #ff1e00;
  border-radius:  24px;
  border-top-left-radius: 0px;
  border-top-right-radius:  0px;
  margin-bottom: 0%;
  margin-top: 0%;
}

.Cart .W-title{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: white;
}

.breadcrumb {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  color: antiquewhite;
}


.Cart .cart-warning{
  margin-top: 12%;
  margin-bottom: 2%;
}

.Cart .picture-cart{
  border-radius: 40px 10px;
  padding-left: 2%;
  width: 10%;
  float: left;
}

.Cart .name{
  margin-top: 2%;
  padding-right: 25%;
  margin-right: 25%;
  padding-left: 2%;
  text-decoration: solid;
}


.Cart .name a{
  text-decoration: none;
  color: black;
}

.Cart .cart-item-detail{
  right: 5%;
  float: right;
  margin-left: 5%;
  margin-top: 2%;
  display: flex;
  position: absolute;
}


.Cart .label{
  margin-top: 2%;
}



.Cart .quantity{
  margin-top: 2%;
  padding-right: 2%;
  padding-left: 1%;
}

#inputRemoveItem{
  border: unset;

}

#inputRemoveItem:hover{
  background-color:#ff1e00;
  border: unset;
  
}

.Cart .btn-danger{
  background-color:#ff1e00;
}
.Cart .warning-buy{
  margin-left: 44%;
  margin-bottom: 17.5%;
}

.Cart .price-total{
  margin-top: 2%;
  padding-right: 2%;
  padding-left: 20%;
  
}


.Cart .cart-total{
  font-weight: bold;
  margin-bottom: 5%;
  padding-right: 3%;
  padding-left: 83%;

  margin-left: 2%;
  margin-top: 1%;
  display: flex;

 
} 

.Cart .list-group-total{
  margin-left: 2%;
  padding: 0%;
}

.Cart .list-group-item{
  padding-left: 0%;
  display: flex;
}

.Cart .total-group{
  margin: 2%;
  margin-top: 0%;

  padding: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Cart .list-group{
  margin-right: 2%;
  margin-left: 2%;
  padding: 0%;
  padding-top: 2%;
}


.Cart .title-warning{
  text-align: center; 
}

.Cart .trashIcon{
  margin-top: 2.5%;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

.Cart .checkout{
  margin-top: 5%;
  margin-left: 10%;
  padding-left: 2%;
  padding-right: 2%;
  right: 1%;
  float: right;
  position: absolute;
}